
  
  <section>
    <div class="container-fluid main-container text-center">
      <div class="row justify-content-center">
        <div class="col-8 main-section-col">
          <h1 class="main-title">No Pain no Gain !</h1>
          <p class="main-text">
            Bring the gym home with unlimited access to Dynamics. Motivating
            workouts adapted to your fitness level and goals.
          </p>
            <%= link_to "Join us", new_user_registration_path ,
              class:"btn btn-outline-light btn-lg" , 
              tabindex:"-1" , 
              role:"button" 
               %>
        </div>
      </div>
    </div>
  </section>
</html>
