<section>
  <div class="container-fluid main-container text-center">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12 main-section-col">
        <h1 class="main-title">No Pain no Gain !</h1>
        <p class="main-text">
          Bring the gym home with unlimited access to Dynamics. A simple way to log your workout !
        </p>
        <% if user_signed_in? %>
          <%= link_to "See your activity", activities_path,
              class:"btn btn-outline-light btn-lg" , 
              tabindex:"-1" , 
              role:"button" 
               %>
        <% else %>
          <%= link_to "Join us", new_user_registration_path ,
              class:"btn btn-outline-light btn-lg" , 
              tabindex:"-1" , 
              role:"button" 
               %>
        <% end %>
      </div>
    </div>
  </div>
</section>
</html>
