<div class="container new-activity-container">
  <div class="row justify-content-center">
    <div class="col-4 text-center new-activity-box">
      <h1 class="new-activity-title">Edit Activity</h1>
      <%= render "form", activity: @activity %>
    </div>
  </div>
</div>
