<section>
  <h1 class="main-title-activities">Activities</h1>
  <div class="container">
    <table class="table bg-light">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Activity Name</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">XX/XX/XX</td>
          <td scope="col">Test</td>
          <td scope="col">Test</td>
        </tr>
        <tr>
          <td scope="row">XX/XX/XX</td>
          <td scope="col">Test</td>
          <td scope="col">Test</td>
        </tr>
        <tr>
          <td scope="row">XX/XX/XX</td>
          <td scope="col">Test</td>
          <td scope="col">Test</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
