
    <section>
      <h1 class="main-title-activities">Activities</h1>
      <div class="container">
        <div class="row">
          <div class="col activities-sports">
            <img src="/images/sport-icons/circuit-training.png" alt="Running" />
            Running
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/walking.png" alt="Walking" />
            Walking
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/cycling.png" alt="Cycling" />
            Cycling
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/swimming.png" alt="Swimming" />
            Swimming
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/elliptical.png" alt="Elliptical" />
            Elliptical
          </div>
          <div class="col activities-sports">
            <img
              src="/images/sport-icons/strengh-training.png"
              alt="Strengh-Training"
            />
            <p class="sport-title">Strengh Training</p>
          </div>
        </div>
        <div class="row">
          <div class="col activities-sports">
            <img
              src="/images/sport-icons/circuit-training.png"
              alt="Circuit-Training"
            />
            Circuit Training
          </div>
          <div class="col activities-sports">
            <img
              src="/images/sport-icons/core-training.png"
              alt="Core-Training"
            />
            Core Strenght
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/wrestling.png" alt="Wresting" />
            Wrestling
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/rowing.png" alt="Rowing" />
            Rowing
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/hiking.png" alt="Hiking" />
            Hiking
          </div>
          <div class="col activities-sports">
            <img
              src="/images/sport-icons/mountain-bike.png"
              alt="Mountain-Bike"
            />
            Moutain Bike
          </div>
        </div>
        <div class="row">
          <div class="col activities-sports">
            <img src="/images/sport-icons/skating.png" alt="Skating" />
            Skating
          </div>
          <div class="col activities-sports">
            <img
              src="/images/sport-icons/nordic-walking.png"
              alt="Nordic-Walking"
            />
            Nordic Walking
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/XC-skiing.png" alt="XC-Skiing" />
            XC skiing
          </div>
          <div class="col activities-sports">
            <img
              src="/images/sport-icons/downhill-skiing.png"
              alt="Downhill-Skiing"
            />
            Downhill skiing
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/snowboard.png" alt="Snowboarding" />
            Snowboarding
          </div>
          <div class="col activities-sports">
            <img src="/images/sport-icons/wheelchair.png" alt="Wheelchair" />
            Wheelchair
          </div>
        </div>
      </div>
    </section>

