<div class="container new-activity-container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 text-center new-activity-box">
      <h3 class="new-activity-title">Congratulation ! You logged a new activity !</h3>
      <p class="new-activity-txt"><b>Date: </b><%= @activity.datetime %></p>
      <p class="new-activity-txt"><b>Activity: </b><%= @activity.name %></p>
      <p class="new-activity-txt"><b>Duration: </b><%= @activity.duration %>mins</p>
    </div>
  </div>
</div>
